body {
  background-image: url(../img/fondo_web.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

#toastError {
  visibility: hidden;
  min-width: 250px;
  background-color: red;
  color: white;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
}

/* Mostrar el toast cuando se active */
#toastError.show {
  visibility: visible;
  animation: fadeInOut 2s;
  /* Animación de 2 segundos */
}
